.bgimage {
    height:100vh;
    background: url('images/fondito.png');
    background-size:cover;
    position:relative;
}
.bgimage img {
    width: 25%;
    margin-top: 15%;
	margin-bottom: 2%;
	float: left;
	max-width: 480px;
	border-radius: 50%;
	margin-left: 10%;
}
/* text css above hero image*/
.hero_title {
    font-size: 4rem;

}
.hero_desc {
    font-size: 1.5rem;
}
.hero-text {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-32%, -32%);
    color: white;
    
}

.imageAboutPage {
    width: 92%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #065863;
}
.servicesText:hover {
    border: 1px solid #065863;
}
.navbarScroll.navbarDark {
    background-color: rgb(39, 39, 39);
}


/* social media icons styling */
    .social-icons {
        font-size: 60px;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translate(-32%, -32%);
        color: white;
    }
    .fa-github:hover,.fa-linkedin:hover {
        color: #065863;
    }
    .fab {
        color: #ffffff;
    }

    /* download button */
.btn-primary{
    margin-bottom: 4.5%;

}
/* footer styling */
#footer {
    background-color: #4d4141;
    text-align: center;
    padding: 5px;
}
#footer p {
    padding-top: 20px;
    color: wheat;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


@media screen and (max-width: 800px) {
    .bgimage {
        width: 100%;
    }
   .bgimage img{
    width: 70%;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 15%;
    }  
    .hero-text {
    left: 32%;
    top: 50%;
    }
    .social-icons {
    text-align: center;
     width: 70%;
     top: 70%;
     left: 50%;
     transform: translate(-50%);
     padding-bottom: 20px;

    }
 }
